/***********************************************************
1. Universal styles (typography etc.)
2. Header & Nav styles
3. Main Body Content
4. Sidebar content
5. Footer
************************************************************/

/***********************************************************
             Default Values
Fonts: 'Roboto', sans-serif;
Colors:
1.


/****************************************************
*****************************************************
1. Universal Styles
****************************************************
****************************************************/
:root{
  --blue:#1DA1F2; 
  --lightBlue:rgba(29,161,242,0.1);
  --deepBlue: #1FA2F1;
  --deepblueLight: #9BD1F9;
  --blueBackground:rgba(212,237,255,0.6);
  --transitionAll:all 0.3s;
  --lightDark: rgb(15,20,25);
  --grey:rgb(230,236,240);
  --greyText:rgb(101,119,134);
  --spacing:1.5rem;
  --greyButtonText:rgba(0,0,0,0.34);
}
*{ margin:0; padding:0px;box-sizing: border-box; }
html{font-size: 62.5%;}

html,body{
    width:100%;
    height: 100%;
}
body{font-family: 'Roboto', sans-serif;}

li{ list-style: none;}

a{ text-decoration: none;}
.wrapper {
  display: grid;
  grid-template-columns: 1.9fr 4.5fr;
  height: 100vh;
  background-color: #fff;
}
a:hover{
  text-decoration: none;
}
/****************************************************
*****************************************************
2. Header & Nav styles
****************************************************
****************************************************/
.wrapper header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  grid-column: 1/2;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper > header >nav{ display: flex;flex-direction: column;}
svg{width:2rem;height: 2rem;}
nav a { display: flex; align-items: center; padding: 2rem;transition: all 0.3s;}
nav a h3 {color:var(--lightDark);font-size: 2rem;font-weight: 600;}
a:hover{ color:inherit;}
nav a:hover,nav a:hover h3{
    color:var(--blue);
    fill:var(--blue);
}
nav a.active,nav a.active h3{
  color:rgba(29,161,242,1.00);
  fill:rgba(29,161,242,1.00);
}
nav a:hover:not(.btn){background-color:var(--lightBlue); border-radius: 9999px;text-decoration:none;}
svg.home-link { margin-right: 2rem;}
.site-logo { width: 59px; height: 40px;padding-left: 2rem;}
.site-logo:hover{ background-color:var(--lightBlue);border-radius: 50%;transition:var(--transitionAll);}
.header-footer { display: flex; align-items: center; cursor: pointer;padding: 1rem;transition:var(--transitionAll); }
.image-wrapper {height: 5rem;width: 5rem;margin-right: 2rem;}
.image-wrapper img { width: 100%;height: 100%;object-fit: cover; border-radius: 50%;background-color: #fff;}
span.user-fullname { font-weight: 700;  font-size: 1.5rem;}
span.user-screenName {font-size: 1.5rem;color: rgb(91, 112, 131); font-weight: 400;}
.header-footer:hover{background-color:var(--lightBlue) ;border-radius: 9999px;}


.logout-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255,0.1); /* Black w/ opacity */
}

/* Modal Content */
.logout-modal-body {
  background-color: #fefefe;
  width: 28%;
  height: 12rem;
  position: absolute;
  bottom: 8.25rem;
  left: 2rem;
  box-shadow: 0px 0px 10px 0px #cacaca;
}
.wrapper-image {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.wrapper-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;
}
div.logout-modal-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: .1rem solid #ddd;
}
.logout-modal-footer {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  overflow: hidden;
}
.logout-modal-footer a{
  color:var(--lightDark);
}
.logout-modal-footer a:hover{
  text-decoration: underline;
}
/* .header-footer .user-name {
  width: 100px;
} */
/****************************************************
*****************************************************
3. Main Body Content
****************************************************
****************************************************/
main {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
section.mainSectionContainer {
  grid-column: 1/2;
  border-left: 0.1rem solid var(--grey);
  border-right: 0.1rem solid var(--grey);
  display: flex;
  flex-direction: column;
}
.mainSectionContainer .header-top{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding:var(--spacing);
    border-bottom: .1rem solid var(--grey);
}
.mainSectionContainer .header-top h4{
  font-size: 19px;
  font-weight: 800;
  flex:1;
  margin: 0;
}
.mainSectionContainer .header-top img{
  width:40px;
  height:40px;
}
.mainSectionContainer .header-post{
  display:flex;
  padding:var(--spacing);
  border-bottom:1rem solid rgb(230,236,240);
  flex-shrink:0;
}
.modal .header-post{
  border:none;
  padding:0;
  padding-top:var(--spacing);
}
.mainSectionContainer .userImageContainer{
  width:5rem;
  height:5rem;
}
.mainSectionContainer .userImageContainer img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:50%;
  background-color: #fff;
}
form.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
  position: relative;
}
.textareaContainer textarea{
  width:100%;
  border:none;
  resize: none;
  font-size: 1.9rem;
  padding:5px;
  margin-bottom:10px;
}
#submitPostButton {
  background: var(--deepBlue);
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
  font-size: 2rem;
}
#submitPostButton:enabled{
  cursor: pointer;
}
#submitPostButton:disabled{
  background-color: var(--deepblueLight);
}
.postsContainer .post{
  display:flex;
  flex-direction:column;
  padding:var(--spacing);
  cursor:pointer;
  border-bottom:.1rem solid var(--grey);
}
.post:hover{
  background-color: rgba(0,0,0,0.03);
}
.postsContainer .mainContentContainer{
  flex:1;
  display:flex;
  align-items:center;
}
.postsContainer .postContentContainer{
  padding-left:var(--spacing);
  display:flex;
  flex-direction:column;
  flex:1;
}
.postsContainer .username, .postsContainer .date {
  color: var(--greyText);
  font-size: 1.5rem;
  font-weight: 600;
}
a.displayName {
  font-weight: bold;
  font-size: 1.7rem;
  color: #000;
}
.post-footer {
  display: flex;
  align-items: center;
}
.post-footer .postButtonContainer{
  flex:1;
  display: flex;
}
.post-footer .postButtonContainer button{
  padding:5px;
  background-color: transparent;
  border:none;
  color:var(--greyButtonText);
  font-size:2rem;
  cursor: pointer;
}
.post-footer .postButtonContainer button:hover,.post-footer .postButtonContainer button svg:hover{
  background-color:#d4edff;
  color:var(--blue);
  fill:var(--blue);
  border-radius:9999px;
}
.fa-heart{
	color:red;
}
.post-header a:hover{
  text-decoration: underline;
}
.post-header a,
.post-header span{
  padding-right:5px;
}
.post-body div{
  font-size:1.6rem;
  line-height:1.65;
 }
 .hash-box {
  position: absolute;
  top: 6.6rem;
  right: 0px;
  background: white;
  background-color: white;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  box-shadow: 0px 0px 10px 0px #cacaca;
  background-color: white;
  display: block;
}

.hash-box ul{
	 
}	

.hash-box ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.hash-box ul li:hover{
	background: rgb(70, 183, 56);
}

.hash-box ul li:hover > a{
	color: white;
}

.hash-box ul li a{
	display: block;
	text-decoration:none;
	color: #716868;

}
main .follow {
  width: 321px;
  grid-column: 2/3;
  left: 77%;
  top: 0;
  position: fixed;
  background: #fff;
}
main .follow-user-img{
  width:6rem;
  height:6rem;
  margin-right:2rem;
}
.follow-user-img img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit: cover;
}
main .follow-heading{
  padding:var(--spacing);
  border-bottom:.1rem solid var(--grey);
  font-size:1.8rem;
}
main .follow-user {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: .1rem solid var(--grey);
  cursor: pointer;
}
.follow-user:hover{
  background-color:rgba(0,0,0,0.03);
}
.follow-user-info h4,.follow-user-info p{
  font-size:1.6rem;
  margin-bottom:0.5rem;
}
.follow-btn{
  margin-left: auto;
  background-color: #fff;
  color:var(--blue);
  padding:1rem;
  border:.1rem solid var(--blue);
  border-radius: 2rem;
  font-size:1.6rem;
  cursor:pointer;
}
.follow-btn:hover{
  background-color: var(--lightBlue);
}
.follow-link{
  margin:2rem 1rem;
}
.follow-link a{
  text-decoration: none;
  color:var(--blue);
  font-size:1.5rem;
}
.follow-link a:hover{
  text-decoration: underline;
}
.unfollow-home {
  padding: 1rem;
  color: #fff !important;
  background: var(--blue) !important;
}
.unfollow-btn:hover{
  color:#fff !important;
  background-color: #CA2055 !important;
}
.follow-footer{
  background-color:#f0f8fd;
}
.follow-footer ul{
  display:flex;
  padding:2rem 0;
  flex-wrap:wrap;
}
.follow-footer a{
  color: #868383;
  font-size: 1.5rem;
  margin:0 .7rem;
}
.follow-footer a:hover{
  text-decoration: underline;
}
.nav-right-down-inner {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* .like-btn svg{
  fill: red;
} */
.unlike-btn svg{
  fill: red;
}
.nav-right-down-wrap ul{
  float: none !important;
}
.nav-right-down-left{
  float: left;
  margin: 0px 5px 0px 0px;
}

.nav-right-down-left img{
  width: 35px !important;
  height: 35px;
  border-radius: 4px;
}
.nav-right-down-right-body{
  line-height: 7px;
}
.nav-right-down-right-headline a{
  font-weight: bold;
  padding: 0px 2px;
  font-size: 14px;
}
.nav-right-down-right-headline span{
  color: #A1A1A1;
}
.likesCounter{
  color:red;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  border: 1px solid #888;
  width: 80%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  -webkit-animation-name: animatetop;
  -webkit-animation-duration: 0.4s;
  animation-name: animatetop;
  animation-duration: 0.4s
}

/* Add Animation */
@-webkit-keyframes animatetop {
  from {top:-300px; opacity:0} 
  to {top:0; opacity:1}
}

@keyframes animatetop {
  from {top:-300px; opacity:0}
  to {top:0; opacity:1}
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
  padding: 2px 16px;
  background-color: #5cb85c;
  color: white;
}
/* Profile Page Style */
.profileHeaderContainer .coverPhotoContainer {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}
.profileHeaderContainer .userImageContainer{
  height:132px;
  width:132px;
  margin-left:var(--spacing);
  position:absolute;
  bottom:-66px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.profileHeaderContainer .userImageContainer img{
  border:.4rem solid #fff;
}
.profileHeaderContainer .profileButtonsContainer{
  text-align:right;
  padding:var(--spacing);
  min-height:6.6rem;
}

.profileButton,.followButton {
   border:1px solid var(--blue);
   color:var(--blue);
   font-weight:bold;
   padding:5px 15px;
   border-radius:60px;
   display:inline-block;
   margin-left:var(--spacing);
   cursor: pointer;
}
.profileButton:hover,
.followButton:hover{
  background-color:var(--blueBackground);
}
.followButton.following{
  background-color: var(--blue);
  color:#fff;
}
.profileHeaderContainer .userDetailsContainer{
  display:flex;
  flex-direction:column;
  padding:0 var(--spacing);
}
.profileHeaderContainer .displayName{
  font-size:19px;
  font-weight:bold;
}
.profileHeaderContainer .username{
  font-size:17px;
}
.followersContainer .value{
  font-weight:bold;
  margin-right:5px;
}
.followersContainer span:not(.value){
 color:var(--greyText);
}
.followersContainer a{
  margin-right:15px;
  font-size: 2rem;
  font-weight: bold;
}
.followersContainer a:hover{
  border-bottom:1px solid #000;
}
.tabsContainer {
  display: flex;
  flex-shrink: 0;
  border-bottom: .1rem solid var(--grey);
}
.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: bold;
}
.tabsContainer .tab span{
  font-size: 2rem;
}
.tab.active{
  color:var(--blue);
  border-bottom: 2px solid var(--blue);
}
.tab:hover{
  color:var(--blue);
  background-color: var(--blueBackground);
}
.profilePictureButton {
  position: absolute;
  font-size: 50px;
  color: rgba(0,0,0,0.6);
  border: none;
}
.follow-user-info a{
  color:#444;
}
