/***********************************************************
1. Universal styles (typography etc.)
2. Header & Nav styles
3. Main Body Content
4. Sidebar content
5. Footer
************************************************************/

/***********************************************************
             Default Values
Fonts: 'Roboto', sans-serif;
Colors:
1.


/****************************************************
*****************************************************
1. Universal Styles
****************************************************
****************************************************/
:root{
  --blue:#1DA1F2; 
  --lightBlue:rgba(29,161,242,0.1);
  --deepBlue: #1FA2F1;
  --deepblueLight: #9BD1F9;
  --blueBackground:rgba(212,237,255,0.6);
  --transitionAll:all 0.3s;
  --lightDark: rgb(15,20,25);
  --grey:rgb(230,236,240);
  --greyText:rgb(101,119,134);
  --spacing:1.5rem;
  --greyButtonText:rgba(0,0,0,0.34);
}
*{ margin:0; padding:0px;box-sizing: border-box; }
html{font-size: 62.5%;}

html,body{
    width:100%;
    height: 100%;
    min-height:100%;
    background-color: #fff;
}
body{font-family: 'Roboto', sans-serif;}

li{ list-style: none;}

a{ text-decoration: none;}
.wrapper {
  display: grid;
  grid-template-columns: 1.2fr 4.5fr;
  height: 100vh;
  background-color: #fff;
}
.wrapper >header >div.header-footer>.user-name {
  display: flex;
  flex-direction: column;
}
a:hover{
  text-decoration: none;
}
/****************************************************
*****************************************************
2. Header & Nav styles
****************************************************
****************************************************/
.wrapper header {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  grid-column: 1/2;
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
.wrapper > header >nav{ display: flex;flex-direction: column;}
svg{width:2rem;height: 2rem;}
nav a { display: flex; align-items: center; padding: 2rem;transition: all 0.3s;}
nav a h3 {color:var(--lightDark);font-size: 2rem;font-weight: 600;}
a:hover{ color:inherit;}
nav a:hover,nav a:hover h3{
    color:var(--blue);
    fill:var(--blue);
}
nav a.active,nav a.active h3{
  color:rgba(29,161,242,1.00);
  fill:rgba(29,161,242,1.00);
}
nav a:hover:not(.btn){background-color:var(--lightBlue); border-radius: 9999px;text-decoration:none;}
svg.home-link { margin-right: 2rem;}
.site-logo { width: 59px; height: 40px;padding-left: 2rem;}
.site-logo:hover{ background-color:var(--lightBlue);border-radius: 50%;transition:var(--transitionAll);}
.header-footer { display: flex; align-items: center; cursor: pointer;padding: 1rem;transition:var(--transitionAll); }
.image-wrapper {height: 5rem;width: 5rem;margin-right: 2rem;}
.image-wrapper img { width: 100%;height: 100%;object-fit: cover; border-radius: 50%;background-color: #fff;}
span.user-fullname { font-weight: 700;  font-size: 1.5rem;}
span.user-screenName {font-size: 1.5rem;color: rgb(91, 112, 131); font-weight: 400;}
.header-footer:hover{background-color:var(--lightBlue) ;border-radius: 9999px;}


.logout-modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(255,255,255); /* Fallback color */
  background-color: rgba(255,255,255,0.1); /* Black w/ opacity */
}

/* Modal Content */
.logout-modal-body {
  background-color: #fefefe;
  width: 28%;
  height: 12rem;
  position: absolute;
  bottom: 8.25rem;
  left: 2rem;
  box-shadow: 0px 0px 10px 0px #cacaca;
}
.wrapper-image {
  width: 5rem;
  height: 5rem;
  margin-right: 1rem;
}
.wrapper-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  background-color: #fff;
}
div.logout-modal-header {
  display: flex;
  align-items: center;
  padding: 1rem;
  border-bottom: .1rem solid #ddd;
}
.logout-modal-footer {
  font-size: 2rem;
  margin-left: 0.5rem;
  margin-top: 1rem;
  overflow: hidden;
}
.logout-modal-footer a{
  color:var(--lightDark);
}
.logout-modal-footer a:hover{
  text-decoration: underline;
}
/* .header-footer .user-name {
  width: 100px;
} */
/****************************************************
*****************************************************
3. Main Body Content
****************************************************
****************************************************/
main {
  grid-column: 2/-1;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
section.mainSectionContainer {
  grid-column: 1/2;
  border-left: 0.1rem solid var(--grey);
  border-right: 0.1rem solid var(--grey);
  display: flex;
  flex-direction: column;
}
.mainSectionContainer .header-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--spacing);
  z-index: 8;
  position: sticky;
  background: rgba(255,255,255,1);
  top: 0;
  border-bottom: .1rem solid var(--grey);
}
div#search-area {
  position: sticky;
  top: 0;
  z-index: 999;
  background: rgba(255,255,255,1.0);
}
.mainSectionContainer .header-top h4{
  font-size: 19px;
  font-weight: 800;
  flex:1;
  margin: 0;
}
.mainSectionContainer .header-top img{
  width:40px;
  height:40px;
}
.mainSectionContainer .header-post{
  display:flex;
  padding:var(--spacing);
  border-bottom:1rem solid rgb(230,236,240);
  flex-shrink:0;
}
.modal .header-post{
  border:none;
  padding:0;
  padding-top:var(--spacing);
}
.mainSectionContainer .userImageContainer{
  width:5rem;
  height:5rem;
}
.mainSectionContainer .userImageContainer img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:50%;
  background-color: #fff;
}
form.textareaContainer {
  flex: 1;
  padding-left: var(--spacing);
  position: relative;
}
.textareaContainer textarea{
  width:100%;
  border:none;
  resize: none;
  font-size: 1.9rem;
  padding:5px;
  margin-bottom:10px;
}
#submitPostButton {
  background: var(--deepBlue);
  color: #fff;
  border: none;
  border-radius: 40px;
  padding: 7px 15px;
  font-size: 2rem;
}
#submitPostButton:enabled{
  cursor: pointer;
}
#submitPostButton:disabled{
  background-color: var(--deepblueLight);
}
.postsContainer .post,.profilePostsContainer .post,.commentPostsContainer .post{
  display:flex;
  flex-direction:column;
  padding:var(--spacing);
  cursor:pointer;
  border-bottom:.1rem solid var(--grey);
}
.post:hover{
  background-color: rgba(0,0,0,0.03);
}
.postsContainer .mainContentContainer,.profilePostsContainer .mainContentContainer,.commentPostsContainer .mainContentContainer
{
  flex:1;
  display:flex;
}
.postsContainer .postContentContainer,.profilePostsContainer .postContentContainer,.commentPostsContainer .postContentContainer{
  padding-left:var(--spacing);
  display:flex;
  flex-direction:column;
  flex:1;
}
.postsContainer .username, .postsContainer .date,.profilePostsContainer .username,.profilePostsContainer .date,.commentPostsContainer .username,.commentPostsContainer .date {
  color: var(--greyText);
  font-size: 1.5rem;
  font-weight: 600;
}
a.displayName {
  font-weight: bold;
  font-size: 1.7rem;
  color: #000;
}
.post-footer {
  display: flex;
  align-items: center;
}
.post-footer .postButtonContainer{
  flex:1;
  display: flex;
}
.post-footer .postButtonContainer button{
  padding:3px 5px;
  background-color: transparent;
  border:none;
  color:var(--greyButtonText);
  font-size:2rem;
  cursor: pointer;
}
.post-footer .postButtonContainer button:hover,.post-footer .postButtonContainer button svg:hover{
  border-radius: 9999px;
}
.post-footer .postButtonContainer button.like-btn:hover,.post-footer .postButtonContainer button.like-btn svg:hover{
  background-color:rgba(224,36,94,0.1);
  color:#E33B6F;
}
.fa-heart{
	color:red;
}
.post-header a:hover{
  text-decoration: underline;
}
.post-header a
{
  padding-right:5px;
}
.post-body div{
  font-size:1.6rem;
  line-height:1.65;
 }
 .hash-box {
  position: absolute;
  top: 6.6rem;
  right: 0px;
  background: white;
  background-color: white;
  border-bottom-right-radius: 0.4rem;
  border-bottom-left-radius: 0.4rem;
  box-shadow: 0px 0px 10px 0px #cacaca;
  background-color: white;
  display: block;
}

/* .hash-box ul{
	 
}	 */

.hash-box ul li {
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 1rem;
  padding-right: 1.5rem;
  font-size: 1.6rem;
  font-weight: bold;
  cursor: pointer;
}

.hash-box ul li:hover{
	background: rgb(70, 183, 56);
}

.hash-box ul li:hover > a{
	color: white;
}

.hash-box ul li a{
	display: block;
	text-decoration:none;
	color: #716868;

}
aside {
  grid-column: 2/3;
}
/* Search Area */
form#search-form {
  padding: 1rem 2rem;
  margin: auto;
  position: relative;
  background-color: rgba(0, 0, 0, 0);
}
input#main-search {
  width: 100%;
  padding: 1rem;
  border-radius: 9999px;
  padding-left: 3rem;
  font-size: 2rem;
  color: rgb(15, 20, 25);
  border: 1px solid rgba(0,0,0,0);
  background-color: rgb(235, 238, 240);
}
::placeholder{
 color:rgb(91, 112, 131);
}
input#main-search:focus{
  border-color:#1A91DA !important;
}
svg.search-icon {
  position: absolute;
  left: 25px;
  top: 20px;
  fill:rgb(91, 112, 131) ;
}
input#main-search:focus + svg.search-icon{
  fill:#1A91DA !important;
}
.search-result {
  position: relative;
}
.search-title {
  display:none;
}
.search-header {
  min-height: 100px;
  position: absolute;
  left: 4px;
  top: -8px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  background-color: rgba(255,255,255,1.00);
  border-radius: 4px;
  width: 95%;
  right: 0;
  z-index:999999999999;
}
.search-header h3 {
  color: rgb(91,112,131);
  font-size: 15px;
  line-height: 1.3125;
  margin-top: 36px;
  text-align: center;
  font-weight: 400;
}
/* Auto-suggest styles */
#image-wrapper-suggest{
  width:6rem;
  height:6rem;
  margin-right:2rem;
}
#image-wrapper-suggest img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit: cover;
}
ul#suggestion {
  min-height: 100px;
  position: absolute;
  left: 4px;
  top: -8px;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  background-color: rgba(255,255,255,1.00);
  border-radius: 4px;
  width: 95%;
  right: 0;
  overflow: auto;
  list-style: none;
  z-index: 99999999;
}
ul#suggestion a {
  display: flex;
  align-items: center;
}
ul#suggestion li {
  border-bottom: 0.1rem solid #ddd;
}
ul#suggestion li:hover{
  background-color:rgb(247,249,250);
  border-bottom-color:rgb(235,238,240);
}
.suggest-name h2 {
  color: #0F1419;
  font-weight: 800;
}
.suggest-name h4 {
  font-weight: 400;
  color: rgb(91, 112, 131);
  font-size: 1.7rem;
}
.no-result {
  font-size: 2rem;
  text-align: center;
  margin-top: 3rem;
}
/* End of Auto-suggest styles */
/* End of search area */
main aside {
  grid-column: 2/3;
}
main .follow-user-img{
  width:6rem;
  height:6rem;
  margin-right:2rem;
}
.follow-user-img img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit: cover;
}
main .follow-heading{
  padding:var(--spacing);
  border-bottom:.1rem solid var(--grey);
  font-size:1.8rem;
}
main .follow-user {
  display: flex;
  align-items: center;
  padding: 1rem 1rem;
  border-bottom: .1rem solid var(--grey);
  cursor: pointer;
}
.follow-user:hover{
  background-color:rgba(0,0,0,0.03);
}
.follow-user-info h4,.follow-user-info p{
  font-size:1.6rem;
  margin-bottom:0.5rem;
}
.follow-btn{
  margin-left: auto;
  background-color: #fff;
  color:var(--blue);
  padding:1rem;
  border:.1rem solid var(--blue);
  border-radius: 2rem;
  font-size:1.6rem;
  cursor:pointer;
}
.follow-btn:hover{
  background-color: var(--lightBlue);
}
.follow-link{
  margin:2rem 1rem;
}
.follow-link a{
  text-decoration: none;
  color:var(--blue);
  font-size:1.5rem;
}
.follow-link a:hover{
  text-decoration: underline;
}
.unfollow-home {
  padding: 1rem;
  color: #fff !important;
  background: var(--blue) !important;
}
.unfollow-btn:hover{
  color:#fff !important;
  background-color: #CA2055 !important;
}
.unfollowing:hover{
  color:#fff !important;
  background-color: #CA2055 !important;
}
.follow-footer{
  background-color:#f0f8fd;
}
.follow-footer ul{
  display:flex;
  padding:2rem 0;
  flex-wrap:wrap;
}
.follow-footer a{
  color: #868383;
  font-size: 1.5rem;
  margin:0 .7rem;
}
.follow-footer a:hover{
  text-decoration: underline;
}
.nav-right-down-inner {
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
/* .like-btn svg{
  fill: red;
} */
.unlike-btn svg{
  fill: red;
}
.nav-right-down-wrap ul{
  float: none !important;
}
.nav-right-down-left{
  float: left;
  margin: 0px 5px 0px 0px;
}

.nav-right-down-left img{
  width: 35px !important;
  height: 35px;
  border-radius: 4px;
}
.nav-right-down-right-body{
  line-height: 7px;
}
.nav-right-down-right-headline a{
  font-weight: bold;
  padding: 0px 2px;
  font-size: 14px;
}
.nav-right-down-right-headline span{
  color: #A1A1A1;
}
.likesCounter{
  color: rgb(224, 36, 94);
}
/* The Modal (background) */
/* .modal {
  display: none; /* Hidden by default */
  /* position: fixed; /* Stay in place */
 /*z-index: 1; /* Sit on top */
  /*padding-top: 100px;*/ /* Location of the box */
 /* left: 0;
 /* top: 0;
  width: 100%; /* Full width */
 /* height: 100%; /* Full height */
 /* overflow: auto; /* Enable scroll if needed */
  /*background-color: rgb(0,0,0); /* Fallback color */
  /*background-color: rgba(0,0,0,0.4); Black w/ opacity 
} */

.retweet-modal-container,.reply-wrapper,.del-post-wrapper-container,.pin-post-wrapper-container{
    width: 100%;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    background: rgb(0,0,0);/* Fallback color */
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.4);/* Black w/ opacity */
    display:none;
}
.retweet-modal-container .modal-content,.reply-wrapper .reply-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFF;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  width: 600px;
  height: 289px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.retweet-modal-container > .modal-content > .modal-header,.reply-wrapper .modal-content{
    height: 53px;
    padding: 0 var(--spacing);
    border-bottom: 1px solid rgb(196, 207, 214);
    display: flex;
    align-items: center;
}
.retweet-modal-container .close,.reply-wrapper .close{
   font-size: 15px;
    font-weight: 700;
    cursor: pointer;
    line-height: 1rem;
}
.retweet-modal-container .modal-body-header{
    display: flex;
    align-items: center;
    padding: 15px;
}
.retweet-modal-container .modal-image-wrapper{
  width:6rem;
  height:6rem;
  margin-right: 1rem;
}
.retweet-modal-container .modal-image-wrapper  img{
  width:100%;
  height:100%;
  border-radius:50%;
  object-fit:cover;
}
.retweet-modal-container input {
  flex: 1;
  padding: 15px;
  font-size: 19px;
  font-weight: 400;
  color: rgb(15, 20, 25);
  line-height: 1.3125;
  border: none;
}
.retweet-modal-container .modal-header .close{
  padding:1rem;
}
.retweet-modal-container .modal-header .close:hover{
  background-color:rgba(29,161,242,0.1);
  border-radius: 99999px;
}
svg.close-icon {
  fill: rgba(29,161,242,1.00);
  width: 2.5rem;
  height: 2.5rem;
}
.retweet-modal-container .modal-retweet-content {
  padding: 10px 15px;
  min-height: 59px;
  font-weight: 400;
  margin-top: 5px;
  max-width: 700px;
  margin: 0 88px;
  line-height: 1.3125;
  font-size: 15px;
  color: rgb(15, 20, 25);
  clip: rect(1px, 1px, 1px, 1px);
  border: 1px solid rgb(196, 207, 214);
  border-radius: 16px;
  cursor: pointer;
}
.retweet-modal-container .modal-retweet-header {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.retweet-modal-container .modal-user-img-wrapper{
  width:2rem;
  height:2rem;
  margin-right: 1rem;
}
.retweet-modal-container .modal-user-img-wrapper img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:9999px;
  border:1px solid rgba(0, 0, 0, 0.08);
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset
}
.retweet-modal-container .modal-body {
  overflow: auto;
  border-bottom: 1px solid rgb(196, 207, 214);
  padding-bottom: 1rem;
}
.retweet-user-fullName {
  color: rgb(15, 20, 25);
  font-size: 15px;
  font-weight: 700;
  margin-right: 8px;
}
.modal-retweet-post-body {
  overflow-wrap: break-word;
  word-spacing: 2px;
  line-height: 1.5;
  width: 424px;
  height: 295px;
}

.retweet-date-post {
  margin-left: 1rem;
}
.retweet-modal-footer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 9rem;
  margin-top: 0.5rem;
}
span.dot {
  padding-left: 13rem;
  font-size: 2rem;
  font-weight: 700;
}
div#retweet-btn {
  background-color: rgb(29, 161, 242);
  padding: 1rem;
  font-weight: 500;
  color: #fff;
  border-radius: 99999px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
  min-height: 39px;
}
.retweeted svg{
  fill:rgb(23, 191, 99);
}

span.retweetsCount {
  color: rgb(23, 191, 99);
}
.post-footer .postButtonContainer button.retweeted:hover,.post-footer .postButtonContainer button.retweeted svg:hover{
  background-color:rgba(23,191,99,0.1);
  border-radius:9999px;
}
.post-footer .postButtonContainer .retweet:hover,.post-footer .postButtonContainer .retweet svg:hover{
  background-color: rgba(23,191,99,0.1);
  fill:#17BF63;
  color:#17BF63;
}
.post-footer .postButtonContainer .replyModal:hover,.post-footer .postButtonContainer .replyModal svg:hover{
  background-color: rgba(29,161,242,0.1);
  fill:#46B1F3;
  color:#46B1F3;
}
div#retweet-btn:hover{
  background-color: rgb(26,145,218);
}

.profileHeaderContainer .coverPhotoContainer {
  height: 180px;
  background-color: var(--blue);
  position: relative;
}
.profileHeaderContainer .userImageContainer{
  height:132px;
  width:132px;
  margin-left:var(--spacing);
  position:absolute;
  bottom:-66px;
  display:flex;
  justify-content: center;
  align-items: center;
}
.profileHeaderContainer .userImageContainer img{
  border:.4rem solid #fff;
}
.profileHeaderContainer .profileButtonsContainer{
  text-align:right;
  padding:var(--spacing);
  min-height:6.6rem;
}

.profileButton,.followButton {
   border:1px solid var(--blue);
   color:var(--blue);
   font-weight:bold;
   padding:5px 15px;
   border-radius:60px;
   display:inline-block;
   margin-left:var(--spacing);
   cursor: pointer;
}
.profileButton:hover,
.followButton:hover{
  background-color:var(--blueBackground);
}
.followButton.following{
  background-color: var(--blue);
  color:#fff;
}
.following:hover{
  color: #fff !important;
  background-color: #CA2055 !important;
}
.profileHeaderContainer .userDetailsContainer{
  display:flex;
  flex-direction:column;
  padding:0 var(--spacing);
}
.profileHeaderContainer .displayName{
  font-size:19px;
  font-weight:800;
  color:rgb(15, 20, 25);
  line-height:1.312;
}
.profileHeaderContainer .username {
  font-size: 15px;
  font-weight: 400;
  color: rgb(91,112,131);
  line-height: 1.5;
}
.followersContainer .value{
  font-weight:bold;
  margin-right:5px;
}
.followersContainer span:not(.value) {
  color: var(--greyText);
  font-weight: 400;
}
.followersContainer a{
  margin-right:15px;
  font-size: 2rem;
  font-weight: bold;
}
.followersContainer a:hover{
  border-bottom:1px solid #000;
}
.tabsContainer {
  display: flex;
  flex-shrink: 0;
  border-bottom: .1rem solid var(--grey);
}
.tab {
  flex: 1;
  height: 52px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--greyText);
  font-weight: bold;
}
.tabsContainer .tab span{
  font-size: 2rem;
}
.tab.active{
  color:var(--blue);
  border-bottom: 2px solid var(--blue);
}
.tab:hover{
  color:var(--blue);
  background-color: var(--blueBackground);
}
.profilePictureButton {
  position: absolute;
  font-size: 50px;
  color: rgba(0,0,0,0.6);
  border: none;
  display:none;
}
.follow-user-info a{
  color:#444;
}
/* Retweet */
.post .retweet-header {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  padding-left: 3rem;
}
.post .retweet-image {
  margin-right: 1rem;
}
.retweet-image svg{
    fill: rgb(91,112,131);
}
.retweet-header .retweet-user-link {
  line-height: calc(19.6875px);
  font-weight: 700;
}
.retweet-header a.retweet-link {
  color: rgb(91,112,131);
}
.retweet-header a.retweet-link:hover{
  text-decoration:underline;
}
.dot-retweet{
  font-size: 3rem;
  padding-left:0.5rem;
}
.retweet-content-post-container {
  display: flex;
  flex-direction: column;
  margin: 1rem 0;
  border: 1px solid rgb(196, 207, 214);
  border-radius: 16px;
  padding: 15px;
}
.retweet-content-body-header {
  display: flex;
}
.retweet-content-header-img-wrapper {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.retweet-content-header-img-wrapper img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:9999px;
}
.retweet-content-body-header-fullName {
  margin-right: 1rem;
  font-size: 2rem;
  font-weight: 700;
}
.retweet-content-body-header-username {
  margin-right: 1rem;
}
.retweet-content-body-header-date {
  color: var(--greyText);
  font-size: 1.6rem;
  font-weight: 600;
}
.reply-modal-header{
  height: 53px;
  padding: 0 var(--spacing);
  border-bottom: 1px solid rgb(196, 207, 214);
  display: flex;
  align-items: center;
}
.reply-modal-header .close{
  font-size: 15px;
  font-weight: 700;
  cursor: pointer;
  line-height: 1rem;
  margin-left:1rem;
}

.reply-modal-header .close:hover{
background-color:rgba(29,161,242,0.1);
border-radius: 99999px;
}
svg.close-icon {
fill: rgba(29,161,242,1.00);
width: 2.5rem;
height: 2.5rem;
}
.reply-modal-body {
  padding: 10px 15px;
  position:relative;
  overflow:auto;
}
.reply-container {
display: flex;
margin-bottom:2rem;
}
.reply-wrapper-image {
  box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
  border: 1px solid rgba(0,0,0,0.4);
  border-radius: 9999px;
  width: 49px;
  height: 49px;
  margin-right: 1rem;
}  
.reply-wrapper-image img{
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}
.vertical-pip {
  width: 2px;
  height: 4.8rem;
  position: absolute;
  background-color: rgb(196, 207, 214);
  top: 64px;
  left: 37px;
}
.reply-content-wrapper {
  display: flex;
  flex-direction: column;
  padding: 1rem 0;
}
.reply-content-desc {
  display: flex;
  align-items: center;
}
.reply-user-fullName {
  font-weight: 800;
  margin-right: 0.5rem;
  font-size: 1.5rem;
}
.reply-username {
  color: #3A3E42;
  font-weight: 400;
  padding-right: 3px;
  font-size: 1.5rem;
}
span.reply-date-time {
      font-weight: 800;
  }
  .reply-desc-date {
    font-size: 1.75rem;
}
  .reply-desc-text {
      color: #0F1419;
      font-size: 15px;
      line-height: 1.3125;
      font-weight: 400;
      margin-bottom: 8px;
  }
 
  span.reply-to {
      color: rgb(196, 207, 214);
      font-size: 18px;
      font-weight: 400;
      padding-right: 6px;
      cursor: pointer;
  }
  a.reply-username-link {
      color: #5AB9F3;
      text-decoration: none;
      font-size: 20px;
  }
  .reply-user-msg {
      display: flex;
  }
  textarea#replyInput {
      flex: 1;
      resize: none;
      border: none;
      font-size: 19px;
      font-weight: 400;
      color: #0F1419;
  }
  .reply-modal-footer{
      display: flex;
      justify-content: flex-end;
      margin-right: 2rem;
  }
  #replyBtn {
    /* background-color: rgb(29, 161, 242); */
    background-color: var(--deepBlue);
    padding: 1rem 2rem;
    font-size: 2rem;
    color: #fff;
    border-radius: 9999px;
    border:none;
}
  /* div#reply-btn:hover{
     
  } */
  #replyBtn:enabled{
    cursor: pointer;
  }
  #replyBtn:enabled:hover{
    background-color:rgb(26,145,218);
  }
  #replyBtn:disabled{
    background-color: var(--deepblueLight);
  }
  .replyCountColor{
    fill: #46B1F3;
    color: #46B1F3;
  }
  /* Profile Styles */
  input.file-upload-input {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 0;
    left: 0;
    bottom: 0;
    opacity: 0;
    font-size:1px;
}
svg.camera-img {
  width: 5rem;
  height: 5rem;
  cursor: pointer;
  fill: rgba(0,0,0,0.6);
}
.userImageContainer:hover .profilePictureButton{
  display: block;
}
/* Profile Upload Modal */
.modal-header-profile {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  /* border-bottom: 1px solid #DDD; */
}
.modal-header-profile h2{
  font-size: 2rem;
}
.modal-body-profile {
    width: 100%;
    height: 197px;
    position: relative;
    font-size: 2rem;
    padding: 2rem;
}
.modal-body-profile h3{
  margin-bottom: 1rem;
}
.modal-body-profile p{
  font-size: 1.7rem;
}
.modal-footer-profile {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 2rem;
}
.site-logo-wrapper {
  font-size: 3rem;
  color: #1DA1F2;
  padding-left: 23rem;
}
.profile-modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFF;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  width: 600px;
  height: 600px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modal-body-profile-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px 0;
}
.image-profile-container {
  width: 360px;
  height: 400px;
}
.image-profile-container img{
    width: 100%;
    height: 100%;
    border-radius: 9999px;
    object-fit: cover;
}
.image-btn-upload-icon {
  position: absolute;
  cursor: pointer;
}
svg.camera-profile-icon {
    fill: #fff;
    opacity: 0.75;
    width: 2.5em;
    height: 2.5em;
    padding: 1rem;
}
.image-btn-upload-icon:hover svg{
  background-color: rgba(255,255,255,0.1);
  border-radius:9999px;
  /* min-width:39px;
  min-height:39px; */
}
.modal-header-profile .close:hover{
    background-color: rgba(29,161,242,0.1);
    border-radius: 99999px;
}
input#filePhoto {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  font-size: 1px;
  cursor: pointer;
}
.imagePreviewContainer {
  width: 80%;
  height: 90%;
  margin: 0 auto;
}
img#imagePreview {
  display: block;
  max-width: 100%;
  height: 100%;
  width:100%;
}
.modal-header-profile-preview {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
    border-bottom:1px solid rgb(196, 207, 214);
}
.display-modal-preview-container {
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}
/* .upload-profilePic-modal-step {
  /* display: none; */
/*} */
.display-modal-preview-container{
  display: none;
}
span.submitProfileChange {
  background-color: rgb(29, 161, 242);
  color: #fff;
  padding: 15px;
  font-size: 1.5rem;
  cursor: pointer;
  border-radius: 9999px;
}
span.submitProfileChange:hover{
  background-color:rgb(26,145,218) ;
}
.modal-header-profile-edit {
  display: flex;
  align-items: center;
}
svg.color-blue {
  fill: rgba(29,161,242,1.00);
  width: 2.5rem;
  height: 2.5rem;
}
.profile-edit-back svg:hover{
  background-color: rgba(29,161,242,0.1);
  border-radius:9999px;
}
.profile-edit-back {
  margin-right: 1.5rem;
  cursor: pointer;
}

.modal-header-profile-edit h2 {
  font-size: 2.5rem;
}
button.edit-profile-btn {
  background: rgba(0,0,0,0);
  border: none;
  color: rgba(29,161,242,1.00);
  font-weight: 700;
  font-size: 1.5rem;
  border-color: rgb(29, 161, 242);
  border: 1px solid;
  padding: 1rem;
  border-radius: 9999px;
  text-align: center;
  cursor: pointer;
  transition:background-color 0.3s;
}
button.edit-profile-btn:hover{
  background-color: rgba(29,161,242,0.1);
}
.skip-for-now{
  color: rgba(29,161,242,1.00);
  border: 1px solid rgb(29, 161, 242);
  padding: 1rem;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 9999px;
  text-align: center;
  cursor: pointer;
  transition:background-color 0.3s;
}
.skip-for-now:hover{
  background-color: rgba(29,161,242,0.1);
}
.cover-modal-header-profile {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 2rem;
}
.coverphoto-site-logo-wrapper {
  font-size: 3rem;
  color: #1DA1F2;
}
.cover-modal-photo
{
  padding: 2rem;
  line-height: 1.5;
  font-size:2rem;
}
.upload-coverprofilePic-modal-step {
  display: none;
}
.cover-modal-body-profile-wrapper {
  background: #ddd;
  position: relative;
  height: 246px;
}
.cover-image-btn-upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
input#fileCoverPhoto {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  font-size: 1px;
  cursor: pointer;
}
svg.camera-cover-icon {
  fill: rgb(255, 255, 255);
  width: 5.55rem;
  height: 5.55rem;
  padding: 1rem;
  cursor: pointer;
}
.cover-image-btn-upload-icon:hover .camera-cover-icon{
  background-color: rgba(255,255,255,0.1);
  border-radius: 9999px;
}
.cover-modal-header-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
}
.coverphoto-site-logo-wrapper {
    font-size: 3.5rem;
    color: rgba(29,161,242,1.00);
}
.cover-modal-photo {
    font-size: 1.5rem;
    line-height: 1.5;
    padding: 2rem;
}
.cover-modal-body-profile-wrapper {
  background: #B2B2B2;
  position: relative;
  height: 246px;
}
.cover-image-btn-upload-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
img.cover-photo-user-me {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.postContentContainer .post-header{
  display:flex;
  justify-content:space-between;
  align-items:center;
}

svg.dot-icon{
  width:3rem;
  height:3rem;
  fill:rgb(91, 112, 131);
}
span.dot:hover svg.dot-icon {
  border-radius: 9999px;
  fill: rgba(29,161,242,1.00);
  background-color: var(--lightBlue);
  /* padding: 3px; */
}
.d-wrapper-container{
  width: 100%;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background: rgb(0,0,0);/* Fallback color */
  height: 100%;
  overflow: auto;
  background-color: rgba(0,0,0,0);/* Black w/ opacity */
  display:none;
}
.d-wrapper {
  position: absolute;
  top: 44%;
  left: 69%;
  transform: translate(-50%,-50%);
  background: #FFF;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  width: 183.69px;
  overflow: hidden;
  height: 120px;
  border-radius: 4px;
}
.d-content {
  display: flex;
  align-items: center;
  padding: 2rem;
  cursor: pointer;
}
.d-image {
  margin-right: 10px;
}
svg.del-icon {
  fill: rgb(224, 36, 94);
}
span.d-text {
  font-size: 15px;
  font-weight: 400;
  color:rgb(224, 36, 94);
}
span.p-text {
  font-size: 14px;
  font-weight: 400;
}
.d-content:hover{
  background-color:rgba(0, 0, 0, 0.03);
}
.del-post-wrapper,.pin-post-wrapper {
  position: absolute;
  top: 50%;
  left: 59%;
  transform: translate(-50%,-50%);
  background: #FFF;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  width: 465px;
  height: 250px;
  max-height: 100%;
  max-width: 600px;
  border-radius: 16px;
}
.del-post-content,.pin-post-content{
  width:320px;
  height:229px;
  margin:0 auto;
  padding-top:30px;
  padding-bottom:30px;
}
h2.del-post-content-header,h2.pin-post-content-header {
  margin-bottom: 16px;
  font-size: 19px;
  font-weight: 700;
  text-align: center;
  color: rgb(15,20,25);
}
.del-post-content p,.pin-post-content p{
    text-align: center;
    font-size: 15px;
    line-height: 1.7;
    font-weight: 400;
    margin-bottom: 20px;
    color: rgb(91,112,131);
}
.del-btn-wrapper,.pin-btn-wrapper {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
button.del-btn {
  border: none;
  padding: 2rem;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}
button.pin-btn {
  border: none;
  padding: 2rem 3rem;
  border-radius: 9999px;
  cursor: pointer;
  font-weight: 700;
  font-size: 15px;
  line-height: 1;
  text-align: center;
}
button#cancel {
  color: rgb(15, 20, 25);
  transition:background-color 0.3s;
}
button#cancel:hover{
background: rgb(212,214,216);
}
button#delete-post-btn {
  background-color: rgb(224, 36, 94);
  color: #fff;
  transition:background-color 0.3s;
}
button#delete-post-btn:hover{
  background: rgb(202,32,85);
}

button#pin-post-btn {
  background-color:rgb(29, 161, 242);
  color: #fff;
  transition:background-color 0.3s;
}
button#pin-post-btn:hover{
  background:rgb(26,145,218);
}
.go-back-container {
  display: flex;
  align-items: center;
  padding: 1rem;
  cursor:pointer;
}
.go-back-arrow,.go-back-arrow-home {
  margin-right: 1.5rem;
}
.go-back-name{
  cursor: pointer;
  line-height:1.3152;
}
.go-back-name h2{
  font-weight:800;
  font-size:19px;
  color:rgb(15,20, 25);
}
.go-back-name span.go-back-username{
  font-size:1px;
  font-weight:400;
  color:rgb(91, 112, 131);
}
.go-back-fullName__content {
  font-size: 15px;
}
.go-back-fullName__content  h2 {
  font-weight: 600;
  color: rgb(15,20,25);
}
.go-back-username__content{
  font-weight: 400;
  color: rgb(91,112,131);
  line-height: 1.3125;
}
.go-back-arrow svg,.go-back-arrow-home svg{
  fill:rgba(29,161,242,1.00);
}
.go-back-arrow:hover svg,.go-back-arrow-home:hover svg{
  background:rgba(29,161,242,0.1);
  border-radius:9999px;
  cursor: pointer;
}
/* Following */
.resultsContainer__wrapper {
  padding: 10px var(--spacing);
  display: flex;
  border-bottom: 1px solid #ddd;
  transition:background-color 0.3s;
}
/* .resultsContainer__wrapper:last-of-type{
  border-bottom:none;
} */
.resultsContainer__wrapper:hover{
  background-color: rgba(0,0,0,0.03);
  cursor:pointer;
}
.resultsContainer__user-image{
  width:5.5rem;
  height:5.5rem;
  margin-right:1rem;
}
.resultsContainer__user-image img{
  width:100%;
  height:100%;
  object-fit:cover;
  border-radius:9999px;
}
.resultsContainer__content {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.resultsContainer__content-disp {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.resultsContainer__content-desc {
  line-height: 1.3125;
  font-weight: 400;
  font-size: 15px;
  padding-top: 10px;
  white-space: normal;
  color: rgb(15,20,25);
}
span.username-following {
    font-size: 15px;
    font-weight: 400;
    color: rgb(91,112,131);
}
.compose-stc{
  fill: rgba(29,161,242,1.00);
}
/* Chat styles */
a.compose-inbox {
  padding: 1rem;
}
.compose-inbox:hover{
  background-color: var(--lightBlue);
  border-radius: 9999px;
}
/* Post styles */
.resultsContainer .post-header-featured-left{
  display:flex;
  flex-direction:column;
  justify-content:center;
  margin:1rem;
}
.resultsContainer a.displayName{
  line-height:1.5;
}
.resultsContainer .post-body {
  padding-bottom: 1rem;
}
.chatPageContainer {
  display: flex;
  flex-direction: column;
  min-height: 0;
}
.chatTitleBar {
  display: flex;
  align-items: center;
  min-height: 6rem;
  border-bottom: 1px solid var(--lightGrey);
  padding: 1rem;
  background-color: #EBEEF0;
}
.chatTitleBar label {
  margin:0 1rem 0 0;
  font-size:1.9rem;
}
#userSearchTextbox {
  border: none;
  flex: 1;
  font-weight: 200;
  min-width: 350px;
  padding: 1rem;
  font-size:2rem;
  /* profilePostsContainer */
}
button#createChatButton {
  border: none;
  background-color: var(--deepBlue);
  color: #fff;
  padding: 0.7rem 2rem;
  margin: 1rem auto;
  border-radius: 4rem;
}
#createChatButton:disabled{
   background-color: var(--deepblueLight);
}
#createChatButton:enabled{
  cursor: pointer;
}
li.resultsContainer__listitem {
    display: flex;
    align-items: center;
    cursor: pointer;
    border-bottom: 1px solid rgb(235,238,240);
    opacity: 1;
}
li.resultsContainer__listitem:hover {
    background-color:rgb(247,249,250);
}
.resultsContainer__wrapper-select {
    width: 3.9rem;
    height: 3.9rem;
    margin-right: 1rem;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 0px 2px inset;
}
.resultsContainer__wrapper-select img{
   width:100%;
   height:100%;
   border-radius:9999px;
   object-fit:cover;
}
.resultsContainer__listitem-name h3 {
    font-size: 1.8rem;
    font-weight: 700;
    text-overflow: ellipsis;
    white-space: nowrap;
    line-height: 1.3;
}
.resultsContainer__listitem-name span {
    font-size: 1.5rem;
    line-height: 1.5;
    font-weight: 400;
}
.selectedUser {
  display: flex;
  width: 169.59px;
  min-height: 28px;
  padding: 2px;
  justify-content: space-between;
  align-items: center;
  background:#fff;
  border: 1px solid rgb(196,207,217);
  border-radius: 9999px;
  margin-bottom: 5px;
  margin-top: 5px;
}
.selectedUser:hover{
  cursor: pointer;
  background-color:rgb(235,249,250);
}
.selectedUser__wrapper {
  width: 2.4rem;
  height: 2.4rem;
}
.selectedUser__wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 9999px;
}
span.description {
  display: flex;
  margin-top: 0.3rem;
  align-items: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 1.5rem;
  color: rgb(91,112,131);
}
.description .join{
    margin-right: 1rem;
}
.description svg{
  fill:rgb(91,112,131);
  margin-right:10px;
}
.go-back-container.notification-header {
  justify-content: space-between;
}
.notification-settings {
  padding: 1rem;
  transition:background-color 0.3s;
}
.notification-settings:hover{
  background-color: rgba(29,161,242,0.1);
  border-radius:9999px;
}
/* Notifications */
a.notification-container {
  position: relative;
}
.notification-count {
  position: absolute;
  top: 11px;
  left: 16px;
  background-color: red;
  padding: 1px 4px;
  border-radius: 3px;
  color: #fff;
  font-size: 15px;
}
.notify-container,.liked-container  {
    padding: 1rem 1.5rem;
    display: flex;
    width: 100%;
    border-bottom: 1px solid rgb(235, 238, 240);
    cursor: pointer;
    transition:background-color 0.3s;
}
.notify-container:hover,.liked-container:hover{
  background-color:rgba(0,0,0,0.03);
}
.notify-user-wrapper,.liked-user-wrapper{
  margin-right:1rem;
}

.notify-user-wrapper svg{
 fill:rgba(29,161,242,1);
 width:3rem;
 height:3rem;
}
.liked-user-wrapper svg{
  fill:rgba(224,36,94,1);
  width:3rem;
  height:3rem;
 }
.notify-wrapper-user,.liked-wrapper-user {
  width: 4rem;
  height: 4rem;
  margin-bottom: 10px;
}
.notify-wrapper-user img,.liked-wrapper-user img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:50%;
}
.notify-content,.liked-content {
  display: flex;
  align-items: center;
}
a.notify-content__name {
  color: #0F1419;
  font-size: 15px;
  margin-right: 10px;
  font-weight: 700;
}
.notify-content__text {
  font-size: 15px;
  font-weight: 400;
}

/* Home Photo */
.blank-hr {
  height: 0.1rem;
  width: 100%;
  background-color: rgb(235,238,240);
  margin-bottom: 1rem;
}
.add-photo {
  width: 37px;
  height: 37px;
  position: relative;
  margin-bottom: 1.5rem;
  transition:background-color 0.3s;
  padding:0.9rem;
}
.add-photo:hover{
  background-color:rgba(29,161,242,0.1);
  border-radius:9999px;
}
input#addPhoto {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: 0;
  left: 0;
  bottom: 0;
  opacity: 0;
  font-size: 1px;
}
svg.photo-icon {
  fill: rgba(29,161,242,1);
  cursor: pointer;
  width:22.5px;
  height:22.5px;
}
.postImageContainer__wrapper {
  width: 535.34px;
  height: 294.06px;
  cursor: pointer;
  display:none;
}
.postImageContainer__wrapper img{
    height: 100%;
    width: 100%;
    border-radius: 16px;
}
.postContentContainer__postImage {
    width: 507px;
    height: 285.19px;
    margin-bottom:1rem;
}
.postContentContainer__postImage img{
  height: 100%;
  width: 100%;
  border-radius: 16px;
}
.retweet-modal-container .modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background: #FFF;
  box-shadow: rgba(101, 119, 134, 0.2) 0px 0px 15px, rgba(101, 119, 134, 0.15) 0px 0px 3px 1px;
  width: 600px;
  height: 553px;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}
.modal-retweet-post-body .postContentContainer__postImage {
  width: 392px;
  height: 285.29px;
}
/*  Trends */
.trends {
  border-radius: 16px;
  background: #F7F9FA;
  margin: 1rem;
  border: 1px solid rgb(247, 249, 250);
}
.trends-container {
  width: 100%;
  height: 235px;
  overflow: hidden;
}
.trends-container__header {
  padding: 1rem;
  font-weight: 800;
  font-size: 15px;
  border-bottom: 1px solid rgb(235, 238, 240);
}
.trends-content {
  align-items: center;
  justify-content: space-between;
  display: flex;
  border-bottom: 1px solid rgb(235, 238, 240);
  padding: 1rem;
  cursor: pointer;
  transition: background-color 0.3s;
}
.trends-content:hover{
  background-color:rgba(0,0,0,0.03);
}
.trends-content h3 {
  font-size: 15px;
  font-weight: 800;
  line-height: 1.5;
  color: rgb(15, 20, 25);
}
.trends-text {
  font-size: 15px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(91, 112, 131);
}
.trends-footer {
  padding: 0.6rem;
  transition: background-color 0.3s;
  overflow: hidden;
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
  cursor: pointer;
}
.trends-footer:hover{
  background-color:rgba(0,0,0,0.03);
}
.trends-footer a{
    font-size: 15px;
    font-weight: 400;
    color: rgba(29,161,242,1.00);
}
/* .resultsContainer .post{
   display: flex;
    flex-direction: column;
    padding: var(--spacing);
    cursor: pointer;
    border-bottom: .1rem solid var(--grey);
} */

/* Chat Message */
.resultsContainer__resultsListItem {
  border-bottom: .1rem solid var(--grey);
  padding: 2rem;
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.5;
  flex-shrink: 0;
  cursor: pointer;
}
.resultsContainer__resultsListItem:hover{
  background-color:#f2f2f2;
}
.resultsDetailsContainer {
  display: flex;
  flex-direction: column;
  flex: 1;
}
span.chat__heading {
  font-size: 15px;
  color: rgb(15, 20, 25);
  font-weight: 700;
}
span.chat__subtext {
  color: rgb(91, 112, 131);
  font-weight: 400;
  font-size: 15px;
}
.resultsContainerImage {
  width: 40px;
  height: 40px;
  position: relative;
  margin-right: 18px;
  display: flex;
  align-items: center;
  padding: 5px;
}
.resultsContainer__resultsListItem img{
  width:100%;
  height:100%;
  object-fit: cover;
  border-radius:50%;
}
.groupChatMessage img,.groupChatMessage-three img,.groupChatMessage-more img{
  height:65%;
  width:65%;
  position: absolute;
  bottom:0;
  margin:0;
  border:2px solid #fff;
}
.groupChatMessage img:first-of-type{
  top:0;
  right:0;
}
.groupChatMessage-more img:first-of-type {
  top: 0;
}
.groupChatMessage-more img:nth-child(2) {
  top: 8px;
  left: -12px;
}
.groupChatMessage-more img:nth-child(3) {
  top: 15px;
}
.groupChatMessage-more img:last-child {
  top: 10px;
  right: -6px;
}
.groupChatMessage-three img:first-of-type {
  top: -2px;
  right: 0;
}
.groupChatMessage-three img:nth-child(2) {
  top: 15px;
}
.groupChatMessage-three img:last-child {
  top: 10px;
  right: -6px;
}
.ellipsis{
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* Participants */
section.participants-chats,.chatsMessageContainer {
  grid-column: 2/3;
  width: 640px;
}
.chatsMessageContainer {
  display: flex;
  flex-direction: column;
}

.participants-chats .header-top,.chatsMessageContainer .header-top {
  display: flex;
  align-items: center;
  padding: var(--spacing);
  border-bottom: .1rem solid var(--grey);
  height:74px;
}
.participants-chats .header-top h2,.chatsMessageContainer .header-top h2{
    font-size: 19px;
    font-weight: 800;
    color: rgb(15, 20, 25);
}
.chats__parts {
  margin-right: 1rem;
  padding: 1rem;
  cursor: pointer;
}
.chats__parts:hover{
  border-radius:9999px;
  background-color:rgba(29,161,242,0.1);
}
.profileButton.msg__profile {
  padding: 1rem;
}
.msg__profileButton{
  fill:rgba(29,161,242,1.00);
}
.chatActive{
  border-right:2px solid rgb(29, 161, 242);
}
/* Chat Page */
.chatsMessageContainer .chatPageContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}
.mainChatContentContainer {
  display: flex;
  flex: 1;
}
.chatContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  overflow-y: hidden;
}
.chatContainer .chatFooter{
  display: flex;
  padding:var(--spacing);
  flex-shrink:0px;
}
.chatContainer .chatFooter textarea{
  flex:1;
  resize: none;
  background-color: rgb(235, 238, 240);
  border-radius: 16px;
  border:1px solid rgba(0, 0, 0, 0);
  padding-top:5px;
  padding-bottom:5px;
  outline: none;
  padding: 10px;
  height:38px;
  color: rgb(15, 20, 25);
  font-weight:400;
  font-size:15px;
  margin-right:5px;
  transition: all 0.3s;
}
.chatContainer .chatFooter textarea::placeholder{
  color: #5B7083;
}
.chatContainer .chatFooter textarea:focus{
  border-color:rgb(29, 161, 242);
}
.chatContainer .chatFooter button{
  background-color:transparent;
  min-width: 39px;
  min-height:39px;
  border:1px solid rgba(0, 0, 0, 0);
  
}
.chatContainer .chatFooter button:enabled{
  cursor: pointer;
}
.chatContainer .chatFooter button:enabled:hover{
  background-color: rgba(29,161,242,0.1);
  border-radius:9999px;
}
/* .chatContainer .chatFooter button{
 
} */
.chatMessages__chatContainer{
  flex:1;
  display: flex;
  overflow-y: auto;
  flex-direction:column;
  padding:var(--spacing);
}
.chatContainer .chatFooter button svg{
  fill:var(--blue);
}
.chatFooter .emojionearea{
  height:38px;
} 